@tailwind base;
@tailwind components;
@tailwind utilities;

/* Flowbite CSS dosyasını içe aktar */
@import url('https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css');

body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif; 
}

/*products.jsx*/
.paginate{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 10px 0;
}

.paginate li{
    width: 30px;
    height: 30px;
    margin: 5px;
    font-size: 18px;
}  

.buttonShadow{

    box-shadow: 0 0 10px 5px rgba(8, 15, 109, 0.5);

}

 
  
  .shadow-glow {
    animation: glow 1.5s infinite alternate;
  }
  

